<div class="container">
  <div class="home-inner">
    <div class="wrapper">
		<h1>Editing TimeLog</h1>

		<%= render 'form', track_event: @track_event %>

		<%= link_to 'Show', @track_event %> |
		<%= link_to 'Back', track_events_path %>
	</div>
  </div>
</div>
