<div class="container">
  <div class="home-inner">
    <div class="wrapper">
    	<p id="notice" class="alert alert-success"><%= notice %></p>

		<%= link_to 'Edit', edit_track_event_path(@track_event) %> |
		<%= link_to 'Back', track_events_path %>
	</div>
  </div>
</div>
